.todo_list_container {
    button {
        cursor: pointer;
    }

    input[type="submit"] {
        cursor: pointer;
    }
    
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    .box_todo_list {
        margin: 14px auto;
        width: 360px;
        .item_todo_list {
            padding: 6px 0;
            border-bottom: 1px white solid;

            &:first-child {
                border-top: 1px white solid;
            }

            .btn_delete {
                margin-left: 8px;
            }

            .btn_edit, .btn_save {
                margin-left: 6px;
            }
        }
    }
}